/* General styles */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #333;
  background: #f2f2f2;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  display: block;
}
