/* Hero */
.hero {
  position: absolute;
  top: 123px;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  background: url(images/svg-background.svg);
  background-size: cover;
  z-index: -1;

  .hero-content-wrapper {
    margin: auto;
    padding-top: 123px;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .description {
    h1,
    p {
      margin-bottom: 48px;
    }

    h1 {
      color: #444;
      font-size: 35px;
    }

    p {
      line-height: 1.5;
      font-size: 20px;
    }

    .cta {
      color: $blue;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
      padding: 15px;
      width: 310px;
      border: 1px solid $blue;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .icon {
        font-size: 25px;
      }
    }
  }

  .dove {
    background: url(images/dove.png);
    width: 340px;
    height: 340px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(17deg);
  }
}

@media (max-width: 1130px) {
  .hero {
    .hero-content-wrapper {
      flex-direction: column;
    }
    .description {
      text-align: center;
      h1,
      p {
        margin-bottom: 30px;
      }

      .cta {
        margin: 0 auto;
      }
    }
    .dove {
      margin-top: 70px;
      width: 200px;
      height: 200px;
    }
  }
}
